@import '~zurb-foundation-5/scss/normalize.scss';
@import '~zurb-foundation-5/scss/foundation.scss';

body {
  background-color: grey;
}

.title {
  @extend .jumbo;
  background-color: white;
  div {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
    text-align: center;
  }
}

.game {
  .background {
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../images/toxic1.png);
  }
  canvas {
    height: 100%;
    width: 100%;
    display: block;
  }
}

.keyboard {
  user-select:none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.keyRow {
  display: flex;
  margin:0 auto 7px;
  line-height:50px;
}

.keyGap, .key {
  margin:0 6px 0 0;
  height:57px;
  width: 57px;
}

.key {
  background:#444;
  color:#eee;
  border-radius:4px;
  box-shadow:0 1px 0 #222, inset 0 1px 3px rgba(255,255,255,0.1);
  transition:0.1s;
  text-align:center;
  align-items:center;
  align-content:center;
  border:2px solid rgba(0,0,0,0.08);
  cursor:pointer;
}

.key:active {
  transform:translateY(1px);
  background:#333;
  box-shadow:0 1px 0 #000;
}

#splashScreen {
  height: 80%;
  width: 80%;
  margin: 10%;
  background-color: darken(gray, 25%);
  border-radius: 10%;
  text-align: center;

  display:flex;
  align-items: center;
  justify-content: center;

  .content {
    flex: 1;
    width: 50%;
  }
}
